---
const {
  disclamer,
  linkedin,
  linkedinLink,
  _label,
  _made,
  _with,
  _emoji,
  _link,
  _title
} = Astro.props;
---
<footer>
  <p class="copy" title={disclamer}>
    <span class="mirror">©</span>
    <span><span class="full-year"></span> neuhaus.co</span>
  </p>
  <p class="linkedin">
    <a
      tabindex="2"
      title={linkedin}
      href={linkedinLink}>LinkedIn</a
    >
  </p>
  <p class="aknow">
    {_made}&nbsp;<a title={_title} href={_link}>{_label}</a>&nbsp;{_with}&nbsp;<span class="emoji" title={_emoji}>❤️</span>
  </p>
</footer>